<!DOCTYPE html>
<html lang="en">
<!--@Made by Mark & Ebubekir-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Forretningsudvikler</title>

    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/administrator.css">
</head>

<body>
<div class="container">
    <nav>
        <div class="content">
            <div class="logo"><a href="/">Bilabonnement</a></div>

            <ul class="links">
                <li><a href="/biler/data">Tjek udlejede biler & sammenlagt pris</a></li>
                <li><a href="/logout">Log ud</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="social-buttons">
    <a href="/biler/data">
        <button class="neo-button" type="submit">Tjek udlejede biler & sammenlagt pris<i class="fa"></i> </button>
    </a>
    <a href="/logout">
        <button class="neo-button1" type="submit">Log ud <i class="fa"></i> </button>
    </a>
</div>
</div>
</div>

</body>
</html>