<!DOCTYPE html>
<html lang="en">
<!--@Made by Mark & Ebubekir-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Opret lejekontrakt</title>
    <link rel="stylesheet" href="/create-user.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/dataregistration2.css">

</head>
<body>
<div class="container">
    <nav>
        <div class="content">
            <div class="logo"><a href="/">Bilabonnement</a></div>
            <ul class="links">
                <li><a href="/opret-lejekontrakt">Opret lejekontrakt</a></li>
                <li><a href="/lejekontrakter">Se alle lejeaftaler</a></li>
                <li><a href="/biler"> Se alle biler</a></li>
                <li><a href="/opret-bil">Tilføj ny bil</a> </li>
                <li><a href="/logout">Log ud</a></li>

            </ul>
        </div>
    </nav>
</div>
<div class="wrapper">
    <div class="content-under-header" id="all_buttons_in_body_createuser">
        <div class="content-under-header">

            <div class="text-center mt-4 name">
               Opret en lejekontrakt
            </div>
            <br>

    <form action="#" th:action="@{/opret-lejekontrakt}" th:object="${rentalAgreement}" method="post" enctype="multipart/form-data">

        <div class="row m-2">
            <label class="col-6"><b>Vælg bil:*</b> <br>
                <span th:if="${noCar}" class="no-entities-in-list">Vælg en bil! <br></span>
                <select th:field="*{carId}">
                    <option value="-1">Vælg bil</option>
                    <option th:each="car : ${cars}" th:value="${car.id}"
                            th:text="${car.id + ' - ' + car.make + ' ' + car.model}"></option>
                </select>
            </label> <br> <br>
        </div>

        <div class="row m-2">
            <label class="col-6"><b>Type:*</b> <br>

            </label> <br> <br>
            <select class="col-6" id="type" th:field="*{typeId}" onchange="updateDateInputs()">
                <option value="0">Limited</option>
                <option value="1">Unlimited</option>
            </select>
        </div>

        <div class="row m-2">
            <label class="col-6"><b>Start Dato:*</b></label> <br>
            <input class="col-6"  id="start_date" type="date" th:field="*{startDateString}" required onchange="updateDateInputs()"> <br><br>
        </div>


        <div class="row m-2">
            <label class="col-6"><b>Slut Dato:*</b></label> <br>
            <input class="col-6"  id="end_date" type="date" th:field="*{endDateString}" required onchange="updateDateInputs()"> <br> <br>
        </div>

        <div class="row m-2">
            <label class="col-6"><b>Månedlig pris:*</b></label> <br>
            <input class="col-6"  type="text" placeholder="0" th:field="*{price}" required> <br><br>
        </div>


        <div class="row m-2">
            <div class="col-6">
                <button class="btn btn-secondary" type="submit">Opret lejekontrakt</button>
            </div>
        </div>
    </form>
</div>


<script th:inline="javascript">


    let startDateString = formatDate(new Date());
    let endDateString = formatDate(new Date());

    let startDate = new Date(startDateString);
    let endDate = new Date(endDateString);

    // getting elements
    const startDate_input = document.getElementById('start_date');
    const endDate_input = document.getElementById('end_date');
    const type = document.getElementById('type');

    // setting starting values
    startDate_input.value = startDateString;
    updateDateInputs();

    function updateDateInputs() {
        startDate = new Date(startDate_input.value);
        endDate = new Date(endDate_input.value);

        let t = type.value;
        if (0 >= t) {
            //change to limited
            endDate = addToMonth(5);

            endDateString = formatDate(endDate);

            endDate_input.min = endDateString;
            endDate_input.value = endDateString;
            endDate_input.max = endDateString;
        } else {
            // change to unlimited
            let lowerLimit = addToMonth(3);
            let upperLimit = addToMonth(36);

            console.log(lowerLimit);
            console.log(upperLimit);

            endDate_input.min = formatDate(lowerLimit);
            endDate_input.max = formatDate(upperLimit);

            if (lowerLimit.valueOf() > endDate.valueOf()) {
                console.log("lower than limit");
                endDate_input.value = formatDate(lowerLimit);
            } else if (upperLimit.valueOf() < endDate.valueOf()) {
                console.log("higher than limit");
                endDate_input.value = formatDate(upperLimit);
            }
        }
    }

    // returns a new date, based on startDate plus the amount of mounts
    function addToMonth(amount) {
        let date = new Date(startDate);
        date.setMonth(date.getMonth() + amount);
        return date;
    }

    // 👇️👇️👇️ Format Date as yyyy-mm-dd
    // 👇️ (Helper functions) - borrowed and modified from https://bobbyhadz.com/blog/javascript-set-values-input-date-time
    function padTo2Digits(num) {
        return num.toString().padStart(2, '0');
    }

    function formatDate(date) {
        return (
            [
                date.getFullYear(),
                padTo2Digits(date.getMonth() + 1),
                padTo2Digits(date.getDate()),
            ].join('-')
        );
    }

</script>

</body>
</html>