<!DOCTYPE html>
<html lang="en">
<!--@Made by Mark & Ebubekir-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/administrator.css">

    <title>Administrator</title>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" th:href="@{general.css}">
    <link rel="stylesheet" th:href="@{administratorpage.css}">
</head>
<body>

<div class="container">
    <nav>
        <div class="content">
            <div class="logo"><a href="/">Bilabonnement</a></div>
            <ul class="links">
                <li><a href="/logout">Log ud</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="social-buttons">
    <a href="/brugere">
        <button class="neo-button" type="submit">Se alle brugere <i class="fa"></i> </button>
    </a>

    <a href="/opret-bruger">
        <button class="neo-button" type="submit">Tilføj en ny bruger <i class="fa"></i> </button>
    </a>
</div>


</body>
</html>